.app {
    padding: 0 8vw;
}

.app .title {
  border-bottom: 1px solid grey;
  padding-bottom: 25px;
}

.app .title img {
  width: 15vw;
  height: 15vw;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  margin-top: 40px;
  border: 5px solid #fff;
}

@media (max-width: 768px) {
  .app .title img {
    width: 45vw;
    height: 45vw;
  }
}

.app .title h1 {
  text-align: center;
  margin: 25px 0 15px 0;
  font-size: 37px;
}

.app .title p {
  text-align: center;
  line-height: 1.75;
  font-size: 19px;
}

.app .social-links {
  margin: 35px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.app .social-links div {
  margin: 0 30px;
}

@media (max-width: 768px) {
  .app .social-links div {
    margin: 10px 30px;
  }
}

.app .social-links div a {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app .social-links div a i {
  font-size: 55px;
}

.app .social-links-title{
    text-align: center;
    margin-top: 35px;
    font-size: 30px;
}